/* TransactionStatistics.css */

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  /* margin-bottom: 40px; */
}

.transaction-statistics {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:220px;
  margin-left: 550px;
}
